# =========================
# .NET / ASP.NET Core
# =========================

bin/
obj/

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

appsettings.Local.json


# =========================
# Java / Spring Boot / Maven
# =========================

target/
*.class

*.iml
.idea/

application-local.properties
application-local.yml
application-local.yaml


# =========================
# Angular / Node
# =========================

node_modules/
dist/
.angular/


# =========================
# VS Code
# =========================

.vscode/


# =========================
# Environment / Secrets
# =========================

.env
.env.*
!.env.example


# =========================
# Logs
# =========================

*.log


# =========================
# Test / Coverage
# =========================

TestResults/
coverage/


# =========================
# OS
# =========================

.DS_Store
Thumbs.db